{% load static %}
<div class="row">
    <div class="col-md-4 bg-primary-subtle p-3">
        <h5><b>Connect Us</b></h5>
        <hr>
        <h5 class="social"><a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i> Facebook
        </h5></a><br>
        <h5 class="social"><a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i> Twitter</h5>
        </a><br>
        <h5 class="social"><a href="https://www.linkedin.com" target="_blank"><i class="bi bi-linkedin"></i> Linkedin
        </h5></a><br>
        <h5 class="social"><a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube"></i> YouTube</h5>
        </a><br>
        <h5 class="social"><a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i> Instagram
        </h5></a>
    </div>
    <div class="col-md-4 bg-primary-subtle p-3">
        <h5><b>Links</b></h5>
        <hr>
        <a class="anchor" href="/index"><strong>Home</strong></a> <br>
        <a class="anchor" href="/about"><strong>About</strong></a> <br>
        <a href="/catfilter/1" class="anchor"><strong>Acer</strong></a><br>
        <a href="/catfilter/2" class="anchor"><strong>Asus</strong></a><br>
        <a href="/catfilter/3" class="anchor"><strong>Dell</strong></a><br>
        <a href="/catfilter/4" class="anchor"><strong>HP</strong></a><br>
        <a href="/catfilter/5" class="anchor"><strong>Lenovo</strong></a><br>
    </div>
    <div class="col-md-4 bg-primary-subtle p-3">
        <h5><b>Visit Office</b></h5>
        <hr>
        104,E-Wing,Laxminarayan Tower,<br>
        Near Nilayam theater,<br>
        Sadashiv Peth,<br>
        Pune-411030,<br>
        Maharashtra<br>
        <strong>Contact :</strong>+91 7020210543<br>
    </div>
</div>
<div class="row">
    <div class="col-md-12 bg-primary-subtle mb-6">
        <strong>
            <center>
                Copyright © 2023-2024, Shopee.com | Develop By Kalpesh Borse
            </center>
        </strong>
    </div>
    <br/>
</div>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>